@*
   *
   * This template takes a single argument, a String containing a
   * message to display.
   *@
@(message: String)

  @*
   * Call the `main` template with two arguments. The first
   * argument is a `String` with the title of the page, the second
   * argument is an `Html` object containing the body of the page.
   *@
@main("Add user") {

  @*
   * Get an `Html` object by calling the built-in Play welcome
   * template and passing a `String` message.
   *@

  <a href="@routes.Home.welcome()">Home</a>
  <a>Add user</a>
  <a href="@routes.About.about()">About</a>

  <h1>Adding user</h1>

  <form method="post" action="@routes.Application.handleForm()">
     Username:  <input type="text" name="username">
     <input type="submit" value="Add user">
  </form>

    <br />

  <div id="OuterDivOrBody">
    <input type="checkbox" id="checkbox1" />
    <label for="checkbox1">Checkbox label</label>

    <br />The confirm result:
    <input type="text" id="textbox1" />
  </div>

  @button(true)
  <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
  <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>

  <script>
  $(document).ready(function() {
      //set initial state.
      $('#textbox1').val($(this).is(':checked'));

      $('#checkbox1').change(function() {
          if($(this).is(":checked")) {
              var returnVal = confirm("Are you sure?");
              $(this).attr("checked", returnVal);
          }
          $('#textbox1').val($(this).is(':checked'));
      });
  });
  </script>
}
