<html>
    <body>
        <a>Home</a>
        <a href="@routes.Application.index()">Add user</a>
        <a href="@routes.About.about()">About</a>
        <h1>This is the welcome action</h1>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
          <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
    </body>
</html>
